@property --month {
  syntax: "*";
  inherits: true;
  initial-value: 0;
}
:root{
  --month:12;
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100vw;
  height: 100vh;
}
.calendar {
  background-color: rgb(218, 211, 211);
  border-radius: 10px;
  position: absolute;
  width: 400px;
  height: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* 无偏移的阴影 */
  left: 35%;
  top: 20%;
}

.calendar_bar {
  background-color: rgb(240, 235, 235);
  border-radius: 10px;
  display: flex; /* 使用 Flexbox */
  flex-wrap: nowrap; /* 不允许换行 */
  justify-content: space-around; /* 水平等分 */
  width: 380px;
  height: 70px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}
.calendar_bar_check_pre ,.calendar_bar_date ,.calendar_bar_check_next{
  position: relative;
  border-radius: 10px;
  text-align: center ;
  line-height: 40px;
  color: rgb(245, 156, 171);
  font-weight: bold;
}

.calendar_bar_check_pre{
  background-color: rgb(228, 213, 213);
  top: 10px;
  width: 50px;
  height: 40px;
  cursor: pointer;
}
.calendar_bar_check_pre:active{
  background-color: #e9f4e9; 
  user-select: none;   /*禁止选择元素中的文本 */
}
.calendar_bar_check_next:active{
  background-color: #e9f4e9; 
  user-select: none;
}

.calendar_bar_check_next {
  background-color: rgb(228, 213, 213);
  top: 10px;
  width: 50px;
  height: 40px;
  cursor: pointer;
}

.calendar_bar_date {
  width: 140px;
  font-size: 20px;
  height: 50px;
  top: 5px;
  left: -10px;
  line-height: 50px;
}

.calendar_head {
  display: flex; /* 使用 Flexbox */
  flex-wrap: nowrap; /* 不允许换行 */
  justify-content: space-around; /* 水平等分 */
  width: 400px;
  font-weight: bold;
  position: relative;
  top: 10px;
  font-size: 18px;
}

.calendar_body {
  height: 360px;
  width: 400px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top: 20px;
  text-align: center;
  z-index: 2;
}
.calendar_body::after {
    content: var(--month);
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    z-index: -2;
    font-size: 150px;
    line-height: 300px;
    justify-content: center;
    opacity: 0.2;
}

.calendar-date_base {
  font-weight: 200 bold;
  cursor: pointer;
  font-size: 15px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled {
  color: gray;
  pointer-events: none;
  cursor: not-allowed;  
}

.calendar-date_base_canClick:hover{
  color: white;
  background-color: rgb(239, 219, 219);
  cursor: pointer;
  border-radius: 55px;
}

.calendar-date_base_now_date_style {
  color:rgb(246, 86, 113);
  position: relative;
}

